<!doctype html>
<html>
  <head>
    <title>TicTacToe</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>

      <!-- <video autoplay muted loop id="myVideo">
        <source src="vid.mp4" type="video/mp4">
      </video> -->

    <section id="vue-app" class="text-center">
      <div class="wrapper">
          <h1>Tic Tac Toe</h1>
          <table>
            <tr v-for="(column, columnIndex) in board"><td v-for="(row, rowIndex) in column" v-on:click="clickedOnCell(columnIndex, rowIndex)">{{row}}</td></tr>
          </table>
          <h2>Players <span class="badge badge-primary">({{playerCount}})</span></h2>
          <ol><li v-for="player in players"><span v-if="player.id != null">{{player.name}} <span class="badge badge-primary">({{player.symbol}})</span></span></li></ol>
          <button v-on:click="resetBoard" type="button" class="btn btn-outline-primary btn-sm">Reset Board</button>
      </div>

      <div id="chat" ref="chat">
        <h3 v-cloak class="title">{{title}}</h3>
        <button id="toggle" v-on:click="toggleChat" ref="toggle">-</button>
        <ul id="messages">
          <li v-for="msg in msgs" v-bind:class="msg.color"><span  v-cloak>{{msg.time}} <b v-cloak>{{msg.sender}}</b></span> <p> <a v-bind:href="msg.href" target="_blank" v-cloak>{{msg.text}}</a></p></li>
        </ul>
        
        <form v-on:submit.prevent="sendMessage">
            <input v-model="message" autocomplete="off" ref="msgInput" type="text">
            <button>Send</button>
        </form>
      </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="beep.js"></script>
    <script src="vue-app.js"></script>
  </body>
</html>